/*-- BODY --*/
*{
    font-family: 'Lato', sans-serif;
}
.Llamativo{
    color: #210199;
    text-decoration: none;
    font-size: calc(2px + 1em);
    font-weight: bold;
}
/*-- BODY --*/
body header,body section, body footer{
    background-color: white;
    height: 400px;
}
/*-- HEADER --*/
header div#carouselMenu div.carousel-inner.h-100vh div.carousel-item{
    height: 100vh;
}
header div#carouselMenu div.carousel-inner div.carousel-item div.carousel-caption div.anuncio1{
    position: absolute;
    background-image: url("/images/camara.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
header div#carouselMenu div.carousel-inner div.carousel-item div.carousel-caption div.textoSobreAzul{
    background-color: #2572ed;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    filter: invert(20%);
}
header div#carouselMenu div.carousel-inner div.carousel-item div.carousel-caption div.textoSobreAzul{
    color: darkblue;
}
header div#carouselMenu div.carousel-inner div.carousel-item div.carousel-caption div#Inscribirse{
    background-color: #fff;
    width: 50%;
    height: 50%;
    bottom: 0;
    right: 0;
    filter: invert(20%);
}
header div#carouselMenu div.carousel-inner div.carousel-item div.textocentrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

/*-- HEADER --*/
/*-- NAV --*/
nav a.navbar-brand span{
    font-family: 'Loved by the King', cursive;
    font-size: 1.7em
}
/*-- NAV --*/

header div#carouselExampleCaptions div.carousel-inner div.carousel-item img::before{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}



header div#carouselMenu div.carousel-inner div.carousel-item > div{
  background-color: lightgray;
}

header div#carouselMenu div.carousel-inner div.carousel-item div.carousel-caption{
    height: 100%;
    position: initial;
}

/*
<div class="vw-100 vh-100 asImg"></div>
            <article id="parrafoHeader" class="">
                <h1 class="display-4">Destinos</h1>
                <blockquote class="blockquote text-center">
                    <p class="mb-0"><cite title="Source Title">Un viaje de mil millas comienza con el primer paso.</cite></p>
                    <footer class="blockquote-footer">Lao-Tse</footer>
                </blockquote>
            </article>
            <div id="firstMsg" class="vw-100"></div>
*/

/*-- Media --*/
@media screen and (max-width:991.98px){
    /*-- NAV --*/
    .expansibleNav-collapse
    {
        position: fixed;
        top:56px;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
        overflow-y: auto;
        overflow-x: hidden;
        visibility: hidden;
        background-color: rgba(255, 255, 255, 0.9);
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out, visibility .2s ease-in-out;
        transition: transform .2s ease-in-out, visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }

    .expansibleNav-collapse.expandNav
    {
        visibility: visible;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    /*-- NAV --*/
}
@media screen and (max-width:600px){
    header div#carouselMenu div.carousel-inner div.carousel-item div.textoSobreAzul{
        position: relative !important;
        background-color: #2572ed;
        width: 100% !important;
        background-attachment: scroll;
    }
    header div#carouselMenu div.carousel-inner div.carousel-item div#Inscribirse{
        position: relative !important;
        background-color: #fff;
        width: 100% !important;
        background-attachment: scroll;
    }
}